.progress-page {
	height: 100%;
	background-color: var(--color-bg);
	display: flex;
	flex-direction: column;

	header {
		min-height: 5.5rem;
		font-size: 2rem;
		padding: 0rem 1.5rem;
		color: var(--color-primary-text);
		display: flex;
		align-items: center;
		background-color: var(--color-header);
	}

	main {
		flex-grow: 1;
		padding: 1.5rem 1.5rem;

		.github-calendar-container {
			color: var(--color-primary-text);
		}

		.chart-wrapper {
			width: 100%;
			height: 400px;
		}

		.progress-select {
			color: var(--color-primary-text);
			background-color: transparent;
			border-radius: 0.25rem;
			padding: 0.5rem 0.25rem;
			font-size: 1rem;
			display: block;
			margin-left: auto;
			cursor: pointer;

			option {
				background-color: var(--color-bg);
			}
		}
	}
}
