.progress-page {
	height: 100%;
	background-color: var(--color-bg);
	display: flex;
	flex-direction: column;

	header {
		min-height: 5.5rem;
		font-size: 2rem;
		padding: 0rem 1.5rem;
		color: var(--color-primary-text);
		display: flex;
		align-items: center;
		background-color: var(--color-header);
	}

	main {
		flex-grow: 1;
		padding: 1.5rem 1.5rem;

		.github-calendar-container {
			color: var(--color-primary-text);
		}

		.chart-wrapper {
			width: 100%;
			height: 400px;
		}
	}
}
