.loading {
	width: 25vw;
	max-width: 300px;
	background-color: var(--color-bg);
}

aside {
	width: 25vw;
	max-width: 300px;
	height: 100%;
	display: flex;
	flex-direction: column;
	padding: 0rem 1.5rem;
	background-color: var(--color-bg);
	border-right: 2px solid var(--color-sidebar-border);
	color: var(--color-primary-text);

	.website-name {
		display: flex;
		align-items: center;
		padding: 0rem 1.5rem;
		min-height: 5rem;
		font-size: 2rem;
	}

	.links-container {
		width: 100%;
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		position: relative;

		.border {
			position: absolute;
			width: 100%;
			top: 0;
			left: 0;
			border: 2px solid var(--color-link-border);
			border-radius: 0.5rem;
			background-color: transparent;
		}

		.link {
			color: var(--color-primary-text);
			text-decoration: none;
			padding: 0.75rem 1.5rem;
			border-radius: 0.5rem;
			display: flex;
			align-items: center;
			gap: 0.75rem;
			font-size: 1.25rem;
			z-index: 10;
		}
	}

	.user-section {
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 4rem;
		cursor: pointer;

		.logout-button {
			position: absolute;
			top: 0;
			right: 0;
			border: 1px solid var(--color-dropdown-border);
			border-radius: 0.25rem;
			padding: 0.25rem 0.5rem;
			background-color: transparent;
			border: 1px solid var(--color-logout-border);
			color: var(--color-primary-text);
			cursor: pointer;
			transition: background-color 0.3s ease;
			opacity: 0;
		}
		.logout-button:hover {
			background-color: var(--color-warning-hover);
		}
	}
}
