.loading {
	width: 25vw;
	max-width: 300px;
	background-color: var(--color-bg);
}

aside {
	position: sticky;
	top: 0;
	width: 25vw;
	max-width: 300px;
	min-width: 225px;
	height: 100vh;
	display: flex;
	flex-direction: column;
	padding: 0rem
		clamp(0.75rem, 0.49999999999999994rem + 1.0666666666666669vw, 1.5rem);
	background-color: var(--color-bg);
	border-right: 2px solid var(--color-sidebar-border);
	color: var(--color-primary-text);
	z-index: 12;

	.header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0rem 1.5rem;
		min-height: 6.5rem;
		font-size: 1rem;
		font-size: clamp(
			1.5rem,
			0.4999999999999999rem + 2.1333333333333337vw,
			2.5rem
		);

		.close-button {
			all: unset;
			display: none;
			cursor: pointer;
		}

		.website-name {
			font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
		}
	}

	.links-container {
		width: 100%;
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		position: relative;

		.border {
			position: absolute;
			width: 100%;
			top: 0;
			left: 0;
			border: 2px solid var(--color-link-border);
			border-radius: 0.5rem;
			background-color: transparent;
		}

		.link {
			color: var(--color-primary-text);
			text-decoration: none;
			padding: 0.75rem 1.5rem;
			border-radius: 0.5rem;
			display: flex;
			align-items: center;
			gap: 0.75rem;
			font-size: 1rem;
			font-size: clamp(
				1rem,
				0.9166666666666666rem + 0.35555555555555557vw,
				1.25rem
			);
			z-index: 10;
		}
	}

	.user-section {
		position: relative;
		display: flex;
		justify-content: space-between;
		gap: 0.5rem;
		align-items: center;
		height: 4rem;
		cursor: pointer;

		.email {
			white-space: nowrap;
			overflow: hidden;
			font-size: 0.75rem;
			font-size: clamp(
				0.75rem,
				0.22959183673469397rem + 1.0884353741496597vw,
				1.25rem
			);
		}

		.logout-button {
			position: absolute;
			top: 0;
			right: 0;
			border: 1px solid var(--color-dropdown-border);
			border-radius: 0.25rem;
			padding: 0.25rem 0.5rem;
			background-color: transparent;
			border: 1px solid var(--color-logout-border);
			color: var(--color-primary-text);
			cursor: pointer;
			transition: background-color 0.3s ease;
			opacity: 0;
		}
		.logout-button:hover {
			background-color: var(--color-warning-hover);
		}
	}
}
