.no-habits {
	height: 100%;
	display: flex;
	align-items: center;

	.wrapper {
		display: flex;
		width: 100%;
		flex-direction: column;
		align-items: center;

		span:nth-of-type(1) {
			color: var(--color-primary-text);
		}
		span:nth-of-type(2) {
			color: var(--color-secondary-text);
			font-size: 0.75rem;
		}
	}
}
