* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--c-purple: #aa00ff;
	--c-dark-purple: #3d0066;
	--c-white: #fafafa;
	--c-lighter-gray: #fff9;
	--c-black: #0f0f0f;
	--c-cyan: #131f24;
	--c-dark-cyan: #0b1215;
	--c-light-blue: #3f85a7;
	--c-red: #b91c1c;
	--c-gray: #37464f;
	--c-green: #58cc02;
	--c-lighter-green: #29903b;
	--c-dark-green: #238636;

	--color-bg: var(--c-cyan);
	--color-header: var(--c-dark-cyan);
	--color-primary-text: var(--c-white);
	--color-secondary-text: var(--c-lighter-gray);
	--color-link-border: var(--c-light-blue);
	--color-sidebar-border: var(--c-gray);
	--color-logout-border: var(--c-white);
	--color-primary: var(--c-purple);
	--color-text: var(--c-black);
	--color-btn-text: var(--c-white);
	--color-slider: var(--c-dark-purple);
	--color-warning-hover: var(--c-red);
	--color-btn-create: var(--c-dark-green);
	--color-btn-create-hover: var(--c-lighter-green);
	--color-checkbox-good: var(--c-green);
	--color-checkbox-bad: var(--c-red);
}

@font-face {
	font-display: swap;
	font-family: "Sour Gummy";
	font-style: normal;
	font-weight: 400;
	src: url("/fonts/sour-gummy-v3-latin-regular.woff2") format("woff2");
}

@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	src: url("/fonts/roboto-v50-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

* {
	font-family: "Sour Gummy", "sans-serif";
}
