.habits-page {
	width: 100%;
	height: 100%;
	background-color: var(--color-bg);
	display: flex;
	flex-direction: column;
	position: relative;

	header {
		font-size: 2rem;
		padding: 0rem 1.5rem;
		color: var(--color-primary-text);
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 5.5rem;
		width: 100%;
		background-color: var(--color-header);

		.create-habit {
			background-color: var(--color-btn-create);
			border: none;
			color: var(--color-primary-text);
			display: flex;
			gap: 0.25rem;
			padding: 0.5rem 0.75rem;
			border-radius: 0.25rem;
			font-size: 1rem;
			cursor: pointer;
		}
		.create-habit:hover {
			background-color: var(--color-btn-create-hover);
		}
	}

	main {
		flex-grow: 1;
		padding: 1.5rem;
		display: grid;
		grid-template-columns: 2fr 1fr;
		grid-template-areas: "habits top-priorities";
		gap: 1.5rem;

		.type {
			color: var(--color-primary-text);
			font-size: 1.5rem;
			font-weight: bolder;
		}

		.habits {
			grid-area: habits;

			.cards-container {
				margin-top: 0.25rem;
				margin-bottom: 1rem;
			}
		}
		.top-priorities {
			grid-area: top-priorities;

			.wrapper {
				border: 2px solid var(--color-sidebar-border);
				border-radius: 0.5rem;
				padding: 1.5rem 2rem;
				display: flex;
				flex-direction: column;
				gap: 1rem;
			}

			.title {
				color: var(--color-primary-text);
				font-size: 1.5rem;
			}

			.input-group {
				display: flex;
				gap: 1rem;

				input[type="text"] {
					display: block;
					width: 100%;
					background-color: transparent;
					border: none;
					border-bottom: 1px solid white;
					font-size: 1.25rem;
					color: var(--color-primary-text);
					padding: 0rem 0.25rem;

					&:focus {
						outline: none;
					}
				}
				input[type="checkbox"] {
					transform: scale(1.5);
				}
				input[type="checkbox"]:checked + input[type="text"] {
					text-decoration: line-through;
				}
			}
		}
	}
}
