/* Container for the 7 buttons */
.habit-buttons-row {
	display: flex;
	gap: 1rem;
	align-items: center;
}

.habit-circle-btn {
	width: clamp(0.625rem, -0.2857142857142856rem + 1.9047619047619047vw, 1.5rem);
	min-width: 20px;
	height: clamp(
		0.625rem,
		-0.2857142857142856rem + 1.9047619047619047vw,
		1.5rem
	);
	min-height: 20px;
	border-radius: 50%;
	border: 2px solid #374151;
	background: transparent;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 0.2s ease-out;
}

.habit-circle-btn:hover {
	border-color: #6b7280;
}

.habit-circle-btn.completed-good {
	background-color: #22c55e;
	border-color: #22c55e;
	box-shadow: 0 0 10px rgba(34, 197, 94, 0.5);
	transform: scale(1.1);
}

.habit-circle-btn.completed-bad {
	background-color: var(--color-checkbox-bad);
	border-color: var(--color-checkbox-bad);
	box-shadow: 0 0 10px rgba(185, 28, 28, 0.5);
	transform: scale(1.1);
}

.check-icon {
	width: 12px;
	height: 12px;
	color: white;
}

@media (width <= 765px) {
	.habit-circle-btn {
		width: 15px;
		height: 15px;
		min-width: auto;
		min-height: auto;
	}
	.check-icon {
		width: 8px;
		height: 8px;
	}
}
