.habits {
	width: 100%;
	height: 100%;
	background-color: var(--color-bg);
	display: flex;
	flex-direction: column;

	header {
		font-size: 2rem;
		padding: 0rem 1.5rem;
		color: var(--color-primary-text);
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 5rem;
		width: 100%;
	}

	main {
		flex-grow: 1;
		padding: 0rem 1.5rem;
	}
}
