.habits-page {
	width: 100%;
	height: 100%;
	background-color: var(--color-bg);
	display: flex;
	flex-direction: column;

	header {
		font-size: 2rem;
		padding: 0rem 1.5rem;
		color: var(--color-primary-text);
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 5.5rem;
		width: 100%;
		background-color: var(--color-navbar);

		.create-habit {
			background-color: var(--color-btn-create);
			border: none;
			color: var(--color-primary-text);
			display: flex;
			gap: 0.25rem;
			padding: 0.5rem 0.75rem;
			border-radius: 0.25rem;
			font-size: 1rem;
			cursor: pointer;
		}
	}

	main {
		flex-grow: 1;
		padding: 1.5rem;
		display: grid;
		grid-template-columns: 2fr 1fr;
		grid-template-rows: 1fr 1fr;
		grid-template-areas:
			"habits top-priorities"
			"habits mood-board";
		gap: 1.5rem;

		.type {
			color: var(--color-primary-text);
			font-size: 1.5rem;
			font-weight: bolder;
		}

		.habits {
			grid-area: habits;

			.cards-container {
				margin-top: 0.25rem;
				margin-bottom: 1rem;
			}
		}
		.top-priorities {
			grid-area: top-priorities;
		}
		.mood-board {
			grid-area: mood-board;
		}
	}
}
