.backdrop {
	position: absolute;
	inset: 0;
	backdrop-filter: blur(4px);
	z-index: 9;
}

.dialog {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: var(--color-header);
	border-radius: 0.5rem;
	z-index: 10;
	border: 2px solid var(--color-sidebar-border);
	padding: 0 1.5rem;

	.emoji-section {
		display: flex;
		justify-content: center;

		.emoji-circle {
			position: relative;
			padding: 1rem 0;
		}
		.emoji-display {
			font-size: 5rem;
		}
		.edit-button {
			position: absolute;
			background-color: var(--color-primary-text);
			padding: 0.25rem;
			border: none;
			border-radius: 50%;
			width: 1.5rem;
			height: 1.5rem;
			display: flex;
			justify-content: center;
			align-items: center;
			right: 1rem;
			bottom: 1rem;
			cursor: pointer;
		}
		.emoji-picker {
			position: absolute;
			top: 0;
			left: 7rem;
		}
	}

	.input-group {
		display: flex;
		gap: 0.75rem;
		padding: 0.25rem 0;

		label {
			color: var(--color-primary-text);
			font-size: 1.5rem;
			width: 8rem;
			text-wrap: nowrap;
		}

		input {
			display: block;
			flex-grow: 1;
			font-size: 1rem;
			background-color: transparent;
			border: 1px solid var(--color-sidebar-border);
			border-radius: 0.25rem;
			color: var(--color-primary-text);
			padding: 0.25rem 0.5rem;
		}

		select {
			background-color: var(--color-bg);
			color: var(--color-primary-text);
			border-radius: 0.25rem;
			padding: 0.25rem 0.5rem;
		}
	}
	.create-button {
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-top: 1rem;
		margin-bottom: 1rem;
		color: var(--color-primary-text);
		background-color: var(--color-btn-create);
		font-size: 1rem;
		border: none;
		padding: 0.25rem 1rem;
		border-radius: 0.25rem;
		cursor: pointer;
	}
	.create-button:hover {
		background-color: var(--color-btn-create-hover);
	}
}
