.card {
	display: flex;
	align-items: center;
	justify-content: space-between;

	.wrapper {
		display: flex;
		align-items: center;
		gap: 0.5rem;
	}

	.habit-name {
		color: var(--color-primary-text);
		font-size: 1.25rem;
		padding: 0.5rem 0rem;
	}

	.checkboxes-container {
		display: flex;
		gap: 1rem;

		input {
			width: 1.5rem;
			height: 1.5rem;
			cursor: pointer;
		}

		.good {
			accent-color: var(--color-checkbox-good);
		}

		.bad {
			accent-color: var(--color-checkbox-bad);
		}

		.radial-chart-container {
			width: 24px;
			height: 24px;
		}
	}
}
