.card {
	display: flex;
	align-items: center;
	justify-content: space-between;

	.wrapper {
		display: flex;
		align-items: center;
		gap: 0.5rem;
		cursor: default;
		color: var(--color-primary-text);

		.streak-wrapper {
			display: flex;
			align-items: center;
			gap: 0.25rem;

			.streak {
				display: inline-block;
				text-align: center;
			}
		}

		.icon-and-name {
			display: flex;
			align-items: center;
			gap: 0.25rem;

			.habit-name {
				color: var(--color-primary-text);
				font-size: 1.25rem;
				padding: 0.5rem 0rem;
			}
		}
	}

	.checkboxes-container {
		display: flex;
		gap: 1rem;

		input {
			width: 1.5rem;
			height: 1.5rem;
			cursor: pointer;
		}

		.good {
			accent-color: var(--color-checkbox-good);
		}

		.bad {
			accent-color: var(--color-checkbox-bad);
		}

		.card-actions {
			width: 45px;
			display: flex;
			justify-content: space-between;
			align-items: center;

			.three-dots {
				all: unset;
				color: var(--color-primary-text);
				cursor: pointer;
				display: flex;
				justify-content: center;
				align-items: center;
				position: relative;
			}
		}
	}
}
