.card {
	display: flex;
	align-items: center;
	justify-content: space-between;

	.wrapper {
		display: flex;
		align-items: center;
		gap: 0.5rem;
		cursor: default;
		color: var(--color-primary-text);

		.streak-wrapper {
			display: flex;
			align-items: center;
			gap: 0.25rem;

			.streak {
				display: inline-block;
				text-align: center;
				font-size: 0.75rem;
				font-size: clamp(
					0.75rem,
					0.22959183673469397rem + 1.0884353741496597vw,
					1.25rem
				);
			}
		}

		.icon-and-name {
			display: flex;
			align-items: center;
			font-size: 0.75rem;
			font-size: clamp(
				0.75rem,
				0.22959183673469397rem + 1.0884353741496597vw,
				1.25rem
			);
			gap: 0.25rem;

			.habit-name {
				color: var(--color-primary-text);
				font-size: 0.75rem;
				font-size: clamp(
					0.75rem,
					0.22959183673469397rem + 1.0884353741496597vw,
					1.25rem
				);
				padding: 0.5rem 0rem;
			}
		}
	}

	.checkboxes-container {
		display: flex;
		align-items: center;
		gap: 1rem;

		input {
			width: 1.5rem;
			height: 1.5rem;
			cursor: pointer;
		}

		.good {
			accent-color: var(--color-checkbox-good);
		}

		.bad {
			accent-color: var(--color-checkbox-bad);
		}

		.card-actions {
			width: 45px;
			display: flex;
			justify-content: space-between;
			align-items: center;

			.chart-container {
				width: 24px;
				height: 24px;
			}

			.three-dots {
				all: unset;
				color: var(--color-primary-text);
				cursor: pointer;
				display: flex;
				justify-content: center;
				align-items: center;
				position: relative;
			}
		}
	}
}

@media (width <= 765px) {
	.card {
		.wrapper {
			gap: 2px;

			.streak-wrapper {
				gap: 0;

				svg {
					width: 10px;
					height: 10px;
				}
			}

			.icon-and-name {
				gap: 2px;
			}
		}

		.checkboxes-container {
			gap: 0.75rem;

			.card-actions {
				width: 30px;

				.chart-container {
					width: 15px;
					height: 15px;
				}
			}
		}
	}
}
